<footer class="container-fluid"> 
    <div class="row bg-primary align-items-center" style="height: 50px;">
        <!-- This div provides extra space blank at the top -->
    </div> 

    <div class="row bg-primary align-items-center" style="height: auto;">
        <div class="col-md">
            <h1 class="logo text-center" >LOGO</h1>
            <br>
            <br>
        </div>
        
        <div class="col-md">                
            <h6 class="text-center" style="color: #e2e5de;">NAIROBI OFFICE</h6>
            <p style="color: #e2e5de;">
                Tel: +254 20 3315891<br />
                Cell: +254 703 551391<br />
                Cell : +254 722 367691<br />
                mail@advocates.com<br />
                <br />                
                Monomatapa Court, House No. 2<br />
                Ole Odume Road<br />
                P.O. Box 11291 – 00100 GPO<br />
                Nairobi, Kenya.
            </p>
        </div>
        
        <div class="col-md">
            <h6 class="text-center" style="color: #e2e5de;">MOMBASA OFFICE</h6>                
            <p style="color: #e2e5de;">
                Telefax: +254 41 2319291<br />
                Cell: +254 708 158891<br />
                Cell: +254 722 460291<br />
                mail@advocates.com<br />
                <br />
                Zulfat Hatimy Complex, 7th Floor<br />
                Opposite Mombasa Law Court<br />
                P.O. BOX 82891 – 80100<br />
                Mombasa, Kenya.
            </p>
        </div>

        <div class="col-md">
            <h6 class="text-center" style="color: #e2e5de;">KISUMU OFFICE</h6>                
            <p style="color: #e2e5de;">
                Tel: +254 57 2021691<br />
                Cell: +254 776 401191<br />
                Cell: +254 722 367691<br />
                mail@advocates.com<br />
                <br />
                Alpha House, 4th Floor<br />
                Oginga Odinga Street<br />
                P.O. Box 3791- 40100<br />
                Kisumu, Kenya.
            </p>
        </div>
    </div>   

    <div class="row bg-primary align-items-end" style="height: 220px;">
        <p class="ml-5">Copyright &copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved | By MajesTech Creatives</p>
    </div> 
    
</footer>