<header>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark  fixed-top">
        <!-- Brand/Logo -->
        <a href="index.html" class="navbar-brand">
            <h1 class="logo" style="margin: auto;">LOGO</h1>
            <!-- <img src="./aip-images/AIP-logo.png" alt="" style="width: 250px;"> -->
        </a>

        <!-- Collapsible button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <!-- Nav items -->
            <ul class="navbar-nav" id="navbar-nav">            
                <li class="nav-item active">
                    <a href="index.html" class="nav-link">HOME</a>
                </li>

                <li class="nav-item">
                    <a href="theFIRM.html" class="nav-link">THE FIRM</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">PRACTICE AREAS</a>
                    <div class="dropdown-menu bg-primary">
                        <a href="preventiveLAW.html" class="dropdown-item">PREVENTIVE LAW PRACTICE</a>
                            <div class="dropdown-divider"></div>
                        <a href="CommercialContracts.html" class="dropdown-item">COMMERCIAL CONTRACTS AND LITIGATION</a>
                            <div class="dropdown-divider"></div>
                        <a href="emp&Pensions.html" class="dropdown-item">EMPLOYMENT AND PENSIONS</a>
                            <div class="dropdown-divider"></div>
                        <a href="commercialLAW.html" class="dropdown-item">COMMERCIAL LAW ADVISORY SERVICES</a>
                            <div class="dropdown-divider"></div>                        
                        <a href="companyManagement.html" class="dropdown-item">COMPANY MANAGEMENT, SECRETARIAL AND COMPLIANCE SERVICES</a>
                            <div class="dropdown-divider"></div>
                        <a href="tax.html" class="dropdown-item">TAX, INVESTMENTS AND WEALTH PRESERVATION</a>
                            <div class="dropdown-divider"></div>
                        <a href="publicProcurement.html" class="dropdown-item">PUBLIC PROCUREMENT</a>
                            <div class="dropdown-divider"></div>
                        <a href="propertyLAW.html" class="dropdown-item">PROPERTY LAW</a>
                            <div class="dropdown-divider"></div>
                        <a href="intellectualP.html" class="dropdown-item">INTELLECTUAL PROPERTY</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="theTEAM.html" class="nav-link">THE TEAM</a>
                </li>

                <li class="nav-item">
                    <a href="portfolio.html" class="nav-link">CLIENT PORTFOLIO</a>
                </li>

                <li class="nav-item">
                    <a href="publications.html" class="nav-link">PUBLICATIONS</a>
                </li>

                <li class="nav-item">
                    <a href="https://go.actionstep.com/frontend/application/auth/login" target="_blank" class="nav-link">CLIENT PORTAL</a>
                </li>

                <li class="nav-item">
                    <a href="contacts.html" class="nav-link">CONTACTS</a>
                </li>
            </ul>
        </div>
    </nav>
</header>