<!-- Main starts here -->
<main class="container">
    <!-- Some portion of the main content was hidden under the nav-bar so I used breaks to push them down -->
<br>
<br>
<br>
<br>
<br>

<div class="row">
      <div class="col">
          <div>
              <h5>CLIENT PORTFOLIO</h5>
          </div>
      </div>    
</div>  

<div class="row">
  <div class="col-md-8">
      <!-- logo first row -->
      <div class="row align-items-center">
          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/national-oil.jpg" alt="" class="img-fluid mx-auto d-block"  >
                        
          </div>

          <div class=" col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/grofin.jpg" alt="" class="img-fluid mx-auto d-block" >
                         
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/kaa.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/cpf.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>
      </div>

      <!-- logo second row -->
      <div class="row align-items-center">
          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/cck.jpg" alt="" class="img-fluid mx-auto d-block" >
                           
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/erc.jpg" alt="" class="img-fluid mx-auto d-block" >
                         
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/epn.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/National-Social-Security-Fund-Logo-1.png" alt="" class="img-fluid mx-auto d-block" >
                         
          </div>
      </div>

      <!-- logo third row -->
      <div class="row align-items-center">
          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/src.png" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/icpak.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/Kenya-Pipeline-Company-Logo.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/kcc.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>
      </div>

      <!-- logo forth row -->
      <div class="row align-items-center">
          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/ncalogo.png" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/neptune-logo-300x57.png" alt="" class="img-fluid mx-auto d-block" >
                           
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/posta-logo_02.jpg" alt="" class="img-fluid mx-auto d-block" >
                           
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/Kenya-Civil-Aviation-Authority-KCAA.jpg" alt="" class="img-fluid mx-auto d-block" >
                        
          </div>
      </div>

      <!-- logo fifth row -->
      <div class="row align-items-center">
          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/kenyare.jpg" alt="" class="img-fluid mx-auto d-block" >
                           
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/Unclaimed-Financial-Assets-Authority-Logo-2-300x300.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/rootcapital.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/bandari.jpg" alt="" class="img-fluid mx-auto d-block" >
                         
          </div>
      </div>

      <!-- logo sixth row -->
      <div class="row align-items-center">
          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/bollore.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/rochman.jpg" alt="" class="img-fluid mx-auto d-block" >
                         
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/KPLC.png" alt="" class="img-fluid mx-auto d-block" >
                         
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/Export-Processing-Zones-Authority-Logo.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>
      </div>

      <!-- logo 7th row -->
      <div class="row align-items-center">
          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/County-Government-of-Kilifi-Logo-3.png" alt="" class="img-fluid mx-auto d-block" >
                        
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="./aip-images/Logos/Water-Resources-Management-Authority-Logo-3.jpg" alt="" class="img-fluid mx-auto d-block" >
                          
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="" alt="" class="img-fluid mx-auto" >
                         
          </div>

          <div class="col-lg-3 col-6">
              
                  <img src="" alt="" class="img-fluid mx-auto" >
                         
          </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="bg-primary divPracticeAreas">
          <h5 class="practiceAreas">PRACTICE AREAS</h5>
          <ul id="practiceAreas">
              <li>
                  <a href="preventiveLAW.html">Preventive Law Practice</a>                            
              </li>
              <li>
                  <a href="CommercialContracts.html">Commercial Contracts and Litigation</a>                            
              </li>
              <li>
                  <a href="emp&Pensions.html">Employment and Pensions</a>                             
              </li>
              <li>
                  <a href="commercialLAW.html">Commercial Law Advisory Service</a>                           
              </li>
              <li>
                  <a href="companyManagement.html">Company Management, Secretarial, and <br />Compliance Services</a>                             
              </li>
              <li>
                  <a href="tax.html">Tax, Investments and Wealth Preservation</a>                            
              </li>
              <li>
                  <a href="publicProcurement.html">Public Procurement</a>                            
              </li>
              <li>
                  <a href="propertyLAW.html">Property Law</a>                              
              </li>
              <li>
                  <a href="intellectualP.html">Intellectual Property</a>  
              </li>
          </ul>
      </div>
  </div>
</div>        
</main>
