<!-- Main content starts here -->
<main class="container mb-90">
    <!-- Some portion of the main content was hidden under the nav-bar so I used breaks to push them down -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div>
                <h5>CONTACTS</h5>
            </div>

            <img src="./aip-images/f-1.jpg" alt="" class="img-fluid mx-auto">
        </div>    
    </div>  

    <br />
    
    <div class="row">

        <div class="col-md">
            <!-- This div provides free blank column space on the far left of the row -->
        </div>

        <div class="col-md">                
            <h6 class="text-center">NAIROBI OFFICE</h6>
            <p>
                Tel: +254 20 3315891<br />
                Cell: +254 703 551391<br />
                Cell : +254 722 367691<br />
                mail@advocates.com<br />
                <br />                
                Monomatapa Court, House No. 2<br />
                Ole Odume Road<br />
                P.O. Box 11291 – 00100 GPO<br />
                Nairobi, Kenya.
            </p>
        </div>
        
        <div class="col-md">
            <h6 class="text-center">MOMBASA OFFICE</h6>                
            <p>
                Telefax: +254 41 2319291<br />
                Cell: +254 708 158891<br />
                Cell: +254 722 460291<br />
                mail@advocates.com<br />
                <br />
                Zulfat Hatimy Complex, 7th Floor<br />
                Opposite Mombasa Law Court<br />
                P.O. BOX 82891 – 80100<br />
                Mombasa, Kenya.
            </p>
        </div>

        <div class="col-md">
            <h6 class="text-center">KISUMU OFFICE</h6>                
            <p>
                Tel: +254 57 2021691<br />
                Cell: +254 776 401191<br />
                Cell: +254 722 367691<br />
                mail@advocates.com<br />
                <br />
                Alpha House, 4th Floor<br />
                Oginga Odinga Street<br />
                P.O. Box 3791- 40100<br />
                Kisumu, Kenya.
            </p>
        </div>
    </div>
</main>