<main class="container">
    <!-- Some portion of the main content was hidden under the nav-bar so I used breaks to push them down -->
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-8">
            <div>
                <h5>THE FIRM</h5>
                <br />
                <img src="/src/assets/images/aip-images/f-1-1.jpg" alt="" class="img-fluid">
            </div>

            <br />

            <div>
                <h5>Our Services</h5>
                <p class="text-justify">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
                    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
                    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
                    ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid 
                    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse 
                    quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                </p>

                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </li>
                </ul>
                
            </div>

            <br />

            <div>
                <h5>Our Values</h5>
                <div >
                    <h6 class="underline-txt">Integrity</h6>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div>
                    <h6 class="underline-txt">Commitment to Client needs</h6>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div>
                    <h6 class="underline-txt">Responsibility to society</h6>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div>
                    <h6 class="underline-txt">Quality</h6>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        <br />
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg-primary divPracticeAreas">
                <h5 class="practiceAreas">PRACTICE AREAS</h5>
                <ul id="practiceAreas">
                    <li>
                        <a href="preventiveLAW.html">Preventive Law Practice</a>                            
                    </li>
                    <li>
                        <a href="CommercialContracts.html">Commercial Contracts and Litigation</a>                            
                    </li>
                    <li>
                        <a href="emp&Pensions.html">Employment and Pensions</a>                             
                    </li>
                    <li>
                        <a href="commercialLAW.html">Commercial Law Advisory Service</a>                           
                    </li>
                    <li>
                        <a href="companyManagement.html">Company Management, Secretarial, and <br />Compliance Services</a>                             
                    </li>
                    <li>
                        <a href="tax.html">Tax, Investments and Wealth Preservation</a>                            
                    </li>
                    <li>
                        <a href="publicProcurement.html">Public Procurement</a>                            
                    </li>
                    <li>
                        <a href="propertyLAW.html">Property Law</a>                              
                    </li>
                    <li>
                        <a href="intellectualP.html">Intellectual Property</a>  
                    </li>
                </ul>
            
            </div>
        </div>
    </div>        
</main>