<main class="container">
    <!-- Some portion of the main content was hidden under the nav-bar so I used breaks to push them down -->
    <br>
    <br>
    <br>
    <br>
    <br>

   <div class="row">
       <div class="col">
           <div>
               <h5>THE TEAM</h5>
           </div>
       </div>    
   </div>  
   
   <div class="row">
       <div class="col-md">
           <div class="row align-center">
               <img src="./aip-images/undraw_male_avatar_323b.svg" alt="" class="img-fluid mx-auto imgProfile" >
           </div>
           
           <h6 class="text-center">MANAGING PARTNER</h6>
           <p class="text-justify">
               At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum 
               deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
               provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
               fuga.
               <br />
               <br />
               At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum 
               deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
               provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
               fuga.
               <br>
               <br>
               <b>Email:</b><a href="mailto:mail@advocates.com">mail@advocates.com</a> 
           </p>
       </div>
       
       <div class="col-md">
           <div class="row align-center">
               <img src="./aip-images/undraw_male_avatar_323b.svg" alt="" class="img-fluid mx-auto imgProfile" >
           </div>
           
           <h6 class="text-center">MANAGING PARTNER</h6>
           <p class="text-justify">
               At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum 
               deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
               provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
               fuga.
               <br />
               <br />
               At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum 
               deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
               provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
               fuga.
               <br>
               <br>
               <b>Email:</b><a href="mailto:mail@advocates.com">mail@advocates.com</a> 
           </p>
       </div>

       <div class="col-md">
           <div class="row align-center">
               <img src="./aip-images/undraw_male_avatar_323b.svg" alt="" class="img-fluid mx-auto imgProfile" >
           </div>
           
           <h6 class="text-center">MANAGING PARTNER</h6>
           <p class="text-justify">
               At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum 
               deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
               provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
               fuga.
               <br />
               <br />
               At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum 
               deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
               provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
               fuga.
               <br>
               <br>
               <b>Email:</b><a href="mailto:mail@advocates.com">mail@advocates.com</a> 
           </p>
       </div>
   </div>
</main>
