<main class="container">
    <div class="row">
        <br>
    </div>

    <!-- Some portion of the main content was hidden under the nav-bar so I used breaks to push them down -->
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-8">
            <div>
                <h5>Property Law</h5>
                <hr>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    <br>
                    <br>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    <br>
                    <br>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
                    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
                    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
                    ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid 
                    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse 
                    quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg-primary divPracticeAreas">
                <h5 class="practiceAreas">PRACTICE AREAS</h5>
                <ul id="practiceAreas">
                    <li>
                        <a href="preventiveLAW.html">Preventive Law Practice</a>                            
                    </li>
                    <li>
                        <a href="CommercialContracts.html">Commercial Contracts and Litigation</a>                            
                    </li>
                    <li>
                        <a href="emp&Pensions.html">Employment and Pensions</a>                             
                    </li>
                    <li>
                        <a href="commercialLAW.html">Commercial Law Advisory Service</a>                           
                    </li>
                    <li>
                        <a href="companyManagement.html">Company Management, Secretarial, and <br />Compliance Services</a>                             
                    </li>
                    <li>
                        <a href="tax.html">Tax, Investments and Wealth Preservation</a>                            
                    </li>
                    <li>
                        <a href="publicProcurement.html">Public Procurement</a>                            
                    </li>
                    <li>
                        <a href="propertyLAW.html">Property Law</a>                              
                    </li>
                    <li>
                        <a href="intellectualP.html">Intellectual Property</a>  
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <br>
    </div>
</main>
