<!-- Main content starts here -->
<main class="container-fluid">
    <!-- Some portion of the main content was hidden under the nav-bar so I used breaks to push them down -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div>
                <h5>PUBLICATIONS</h5>
            </div>

            <img src="./aip-images/Opera Snapshot_2021-09-26_110713_aip-advocates.com.png" alt="" class="img-fluid mx-auto mb-5">
        </div>    
    </div>  
</main>